<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toybox.lucasrezende.dcc196_controle_feira_do_livro">

    <application
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetalhesParticipante" />
        <activity android:name=".DetalhesLivro" />
        <activity android:name=".Formularios.CadastroParticipante" />
        <activity android:name=".Formularios.CadastroLivro" />
        <activity android:name=".Emprestimos" />
        <activity android:name=".ListarLivros"></activity>
    </application>

</manifest>